.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #212121;
  color: #e6e6e6;
  font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Arial, sans-serif;
}

.expected-response {
  position: fixed;
  bottom: 3%;  /* Position it 50% from the top of the screen */
  left:55% ;
  width: 25vw;  /* 25% of the screen width */
  background-color: #444;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);  /* Move it up by 50% of its own height to center it */
}
